
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
}

#root {


  text-align: center;
  background-color: hsl(0, 0%, 10%, 0.3);
}
@media (width: 800px) {
  #root {
    width: 100%;
    margin-top: 10%;
    maring-bottom: 11%


  }
}
