
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
}

#root {


  text-align: center;
  background-color: hsl(0, 0%, 10%, 0.3);
}
@media (max-width: 800px) {
  #root {
    width: 100%;
    margin-top: 5%;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  #root {
    width: 100%;
    margin-top: 2%;
    padding: 0 5px;
  }
}
